body{
        background-image: linear-gradient(to bottom right, #b53533, #323363);
}

h1{
        color: white;
        text-align: center;
}

h2{
        color: white;
        text-align: center; 
}

h3{
        color: white;
        text-align: center;
        background: grey;
        border-radius: dashed;
        
}

p{
        color: black;
        text-align: center;
        background: white;
}

.wrong{
        color: white;
        background: red;
        text-align:center;
}

.right{
        color: green;
        background: black;
        text-align: center;
}
